<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LoveMeSomeIceCream</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list_style.css') }}">
</head>

<body>
    <!--Navigation Bar-->
	<div class="navigationBar">
		<div class="container">
			<div>
				<img src="{{url_for('static', filename='logo.png')}}" alt="Site logo" class="logo">
        </div>
        <div class="menu">
          <ul>
            <li><a href="index">Home</a></li>
            <li><a href="analysis">Brand Analysis</a></li>
            <li><a href="download">Download Data</a></li>
            <li><a href="about">About Data</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div style="background-color: rgb(240, 165, 25)">
      

        <h1>Results</h1>

        <p><label for="rank">Rank products by</label></p>
        <form action="/rank" method="post">
            <select id="rank_box" name="rank" size="1" onchange="this.form.submit()">
            <option value="none"></option>
            <option value="product_name">Product Name-Alphabetical</option>
            <option value="rating">Average Rating</option>
            <option value="rating_count">Number of Ratings</option>
            </select>
        </form>
        <br><br>

        {% if results == [] %}
        <p>Sorry. There's no product that match your search keyword. Try again</p>
        {% else %}
        {% for product in results: %} 
        <div class="listed_products" onclick="location.href='{{ url_for('getProduct', name=product.image_key) }}';" style="cursor: pointer;">
            <div class="product-overview">
                <img src="{{url_for('static', filename='images/'+product.image_key+'.png')}}" alt="product image" class="ice-cream-img">
                <div class="listed_products overview-text">
                    <h1> {{ product.product_name }} </h1>
                    <div class="listed_products overview-column">
                        <div class="listed_products overview-detail">
                            <div class="listed_products overview-title"><b>Brand Name</b></div>
                            <div class="listed_products overview-content">{{ product.brand }}</div>
                        </div>

                        <div class="listed_products overview-detail">
                            <div class="listed_products overview-title"><b>Rating</b></div>
                            <div class="listed_products overview-content"> {{ product.rating }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        {% endif %}
    </div>

</body>
</html>
