<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LoveMeSomeIceCream</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_style.css') }}">
</head>

<body>
    <!--Navigation Bar-->
	<div class="navigationBar">
		<div class="container">
			<div>
				<img src="{{url_for('static', filename='logo.png')}}" alt="Site logo" class="logo">
        </div>
        <div class="menu">
          <ul>
            <li><a href="index">Home</a></li>
            <li><a href="analysis">Brand Analysis</a></li>
            <li><a href="download">Download Data</a></li>
            <li><a href="about">About Data</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div>
        <h1>Results</h1>
        {% for product in results: %} 
            <div>
                "product_name", "brand", "rating"]
                <img src="{{url_for('static', filename='images/'+product.image_key+'.png')}}">
                <p>{{ product.product_name }}</p>
                <p>{{ product.brand }}</p>
                <p>{{ product.rating }}</p>
            </div>
            <br>
        {% endfor %}
    </div>

</body>
</html>
