<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LoveMeSomeIceCream</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_style.css') }}">
</head>

<body>
    <!--Navigation Bar-->
	<div class="navigationBar">
		<div class="container">
			<div>
				<img src="{{url_for('static', filename='logo.png')}}" alt="Site logo" class="logo">
        </div>
        <div class="menu">
          <ul>
            <li><a href="{{ url_for('templates', filename='index.html') }}">Home</a></li>
            <li><a href="{{ url_for('templates', filename='analysis.html') }}">Brand Analysis</a></li>
            <li><a href="{{ url_for('templates', filename='download.html') }}">Download Data</a></li>
            <li><a href="{{ url_for('templates', filename='about.html') }}">About Data</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div>
        <h1>Results</h1>
        {% for product in results: %} 
        <table border = 1>
            {% for key, value in product.items() %}
                <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
                </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>

</body>
</html>
